.jumbotron {
  background-image: url("../backgrounds/landing.jpg");
  background-size: cover;
  text-align: center;
  margin: 0;
}
.Breakfast {
  background-image: url("../foodtop/breakfast.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  margin: 0;
}
.lunch {
  background-image: url("../foodtop/lunch.jpg");
  background-position: center;
  background-size: 100 auto;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  margin: 0;
}
.dinner {
  background-image: url(../foodtop/dinner.jpg);
  .row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}
}
.to {
  background-color: white;
}
.tt {
  background-color: #F15a29;
}
h2 {
  line-height: 120px;
  color: white;
}
.pp {
  color: white;
}
h4 {
  line-height: 120px;
  color: white;
}
h5 {
  line-height: 120px;
  color: white;
}
.kk {
  background-image: url(../backgrounds/foodsBg.jpg);
  background-position: center;
  background-size: 100 auto;
  background-repeat: no-repeat;
  text-align: center;
  height: 150px;
  margin: 0;
}
.red {
  color: red;
}
